*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(255, 251, 251);
}
.container {
    display: grid;
    width: 100%;
    grid-template-rows: 110px 100px 1fr 100px;
    place-items: center;
    align-items: center;
    justify-content: center;
    margin-right: 0;
} 
.title {
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 20px; 
}
::placeholder {
    margin-left: 0;
    color: rgb(156, 156, 156);
    text-align: left;
}  
form {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: row;
    text-align: center;
    justify-content: center;
} 
.div-form {
    display: block;
} 
.search-bar {
    padding-right: 200px;
    border-radius: 5px; 
    box-shadow:2px 2px 1px lightgrey;
    border-style: none;
    font-size: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}  
.button {
    padding: 12px 45px;
    border-style: none;
    border-radius: 4px;
    background-color: rgb(79, 161, 79);
    font-size: 20px;
    color: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    transition: 0.3s ease-out;
} 
.button:hover {
   cursor: pointer;
   opacity: 0.7;
   transition: 0.2s ease-in;
} 
.show-more {
    position: absolute;
    padding: 12px 30px;
    border-style: none;
    border-radius: 4px;
    background-color: rgb(74, 163, 199);
    font-size: 20px;
    color: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 30px;
    display: none;
}
.show-more:hover {
    opacity: 0.7;
   transition: 0.2s ease-in;
}
.next {
    display: grid;
    place-items: center;
    justify-content: center;
    text-align: center;
    align-content: center; 
}
.div-image img {
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    transition: 0.2s ease-in-out;
}
.div-image:hover img {
    transform: scale(1.05);
    transition: 0.4s ease-in-out;
}
.div-image {
    display: grid;
    grid-template-rows: 1fr 60px;
    width: 320px;
    height: 300px;
    align-items: center;
    text-align: center;
    justify-content: center;   
}
.div-image a {
    color: rgb(86, 85, 85);
    text-decoration: none;
    transition: 0.2s ease-in-out; 
    padding: 6px 40px; 
    font-size: 14px; 
}
.div-image:hover a {
    transition: 0.4s ease-in-out; 
    transform: scale(1.05);
}
.images {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    place-items: center;
    align-items: center;
    column-gap: 30px;
    margin-top: 40px;
}
.box-display {
    display: grid;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1370px) {
    .div-image img {
        width: 300px;
        height: 230px;
    }
    .div-image {
        width: 300px;
        height: 290px;
    }
    .search-bar {
        height: 50px;
    }
    .button {  
        height: 50px;
    }
    .images {
        column-gap: 15px;
    } 
}
@media (max-width: 1250px) {
    .div-image img {
        width: 270px;
        height: 210px;
    }
    .div-image {
        width: 270px;
        height: 270px;
    }
}
@media (max-width: 1125px) {
    .div-image img {
        width: 210px;
        height: 160px;
    }
    .div-image {
        width: 210px;
        height: 220px;
    }
}

@media (max-width: 900px) {
    .div-image {
        width: 180px;
        height: 110px;
        grid-template-rows: 130px 40px;
    }
    .div-image img {
        width: 180px;
        height: 130px;
        margin-bottom: 0px;
    }
    .div-image a {
       font-size: 11px;
       margin-top: 0px;
       padding: 8px 35px;
    }
    .search-bar {
        height: 40px;
        padding-right: 100px;
    }
    .button {  
        height: 40px;
    }
    .show-more {
        padding: 8px 15px;
        font-size: 16px;
    }
}
@media (max-width: 770px) {
    .div-image img {
        width: 210px;
        height: 160px;
    }
    .div-image {
        width: 210px;
        height: 220px;
    }
    .search-bar {
        height: 35px;
        padding-right: 50px;
        font-size: 12px;
    }
    .button {  
        height: 35px;
        padding: 12px 25px;
        font-size: 12px;
    }
    .images {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
        margin-top: 40px;
    }
}
@media (max-width: 457px) {
    .div-image img {
        width: 160px;
        height: 120px;
    }
    .div-image {
        width: 160px;
        height: 120px;
        row-gap: 0;
    }
    .div-image a {
        font-size: 8px;
        padding: 8px 15px;
    }
    .search-bar {
        height: 35px;
        padding-right: 50px;
        font-size: 12px;
    }
    .button {  
        height: 35px;
        padding: 12px 25px;
        font-size: 12px;
    }
    .images {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 15px;
        row-gap: 40px;
        margin-top: 40px;
    }
}
@media (max-width: 357px) {
    .div-image img {
        width: 160px;
        height: 120px;
    }
    .div-image {
        width: 160px;
        height: 120px;
        row-gap: 0;
    }
    .div-image a {
        font-size: 8px;
        padding: 8px 15px;
    }
    .search-bar {
        height: 25px;
        padding-right: 20px;
        font-size: 10px;
    }
    .button {  
        height: 25px;
        padding: 12px 20px;
        font-size: 10px;
    }
    .title h1 {  
        font-size: 20px;
    }
    .images {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 40px;
    }
}

